body {
    box-sizing: border-box;
}

.home .logo{
    width: 50%;
}

.home header div h3 {
    font-size: 15px;
    padding: 0;
    margin: 10px 0;
}

.home main .banner img{
    width: 100%;
    display: none;
}

.home main article img {
    width: 60%;
}

.home footer section p {
    width: 70%;
    text-align: center;
}